.preview-section{
    scroll-snap-align: start;
    scroll-margin: 80px 0;
    width:100vw;
    height:calc(100vh);
    padding: 40px 40px;
    transform-style: preserve-3d;
    perspective: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.preview-carousel-container{
    display: flex;
    width:100%;
    height: 100%;
    border-radius: 32px;
    background: radial-gradient(circle at top left, rgba(48, 232, 176, 0.12), transparent 55%),
                radial-gradient(circle at bottom right, rgba(171, 221, 255, 0.16), transparent 50%);
    backdrop-filter: blur(10px);
    transform: rotateX(-10deg);
    max-height: 100vh;
    border: 1.5px solid rgba(104, 104, 104, 0.436);
    /* max-width: 1400px; */
}
.preview-carousel{
    padding-top: 40px;
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    
    box-sizing: border-box;
}
.preview-carousel-content{
    width:100%;
    height:100%;
    display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  
  
  
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
    
}
.preview-carousel-content::-webkit-scrollbar{
    display: none;
}
.preview-carousel-item-container{
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    scroll-snap-align: start;
    flex-shrink: 0;
    overflow:clip;
}

.preview-carousel-item{
    width:100%;
    height:100%;
    background-color:rgba(62, 255, 223, 0.562);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
    scale: 0.95;
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items:flex-start;
    padding: 20px;
}

.preview-carousel-item h2{
    position: relative;
    color:white;
    margin-bottom: 0.2rem;
}
.preview-carousel-item p{
    position: relative;
    color:white;
    width: 40%;
    margin-bottom: 0.2rem;
}
.preview-carousel-item a{
    position: relative;
    color:var(--secondary-color);
    font-style: italic;
    transition: all 0.3s ease;
    &:hover{
        color:var(--primary-color);
    }
}
.preview-carousel-item img{
    width:50%;
    height:auto;
    object-fit: cover;
    border-radius: 30px 30px 0 0;
    position: absolute;
    bottom: 0;
    right: 30px;
}
.preview-carousel-item img:after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
    border-radius: 30px 30px 0 0;

}
.preview-carousel-item.inView{
    scale: 1;
    opacity: 1;
}

.preview-carousel-control{
    height:50px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.preview-carousel-control-button{
    display: block;
    width:10px;
    height:10px;
    border-radius: 5px;
    background-color:rgba(135, 135, 135, 0.436);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}
.preview-carousel-control-button:hover{
    transform: scale(1.1);
    background-color:rgba(135, 135, 135, 0.736);
}
.preview-carousel-control-button.selected{
    width:20px;
}