.why-us-section {
  background-color: none;
  padding: 64px 0;
  text-align: center;
  color:white;
}

.why-us-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 24px;


}

.feature-list {
  display: flex;
  flex-direction: column;
  list-style: none;

}


.feature-title button{
  background: none;
  border: none;
  border-bottom: 1px solid rgb(113, 201, 255);
  border-top: 1px solid rgb(113, 201, 255);
  cursor: pointer;
  padding: 20px 0;
  color:rgb(190, 228, 255);
  opacity: 0.5;
  font-size: 1.25rem;
  font-weight: 600;
  text-align: left;
  width: 300px;
  /* The duplicate text-align and invalid selector are removed/fixed */
}
.feature-title button:hover{
  opacity: 1;
}
/* Use :first-child pseudo-class correctly on button inside feature-title */

.description{
  display: none;
}