.devices-display{
    position: relative;
    width:400px;
    height:300px;
    
}
.computer-display{
    position: absolute;
    display: inline-block;
    top:0px;
    margin: 0;
    padding: 0;
    right:40px;
}
.tablet-display{
    position: absolute;
    top:100px;
    right:0px;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.phone-display{
    position: absolute;
    top:175px;
    right:100px;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.computer-display img,
.tablet-display img,
.phone-display img {
    display: block;
    margin: 0;
    padding: 0;
}
.overlay{
    opacity: 0.5;
    transition: all 0.3s ease;
    filter: blur(0px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}