.preview-section{
    scroll-snap-align: center;
    scroll-snap-stop: always;
    scroll-margin: 80px 0;
    width:100vw;
    height:calc(100vh);
    padding: 40px 40px;
    transform-style: preserve-3d;
    perspective: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.preview-carousel-container{
    display: flex;
    width:100%;
    height: 100%;
    border-radius: 15px;
    background-color:rgba(63, 71, 69, 0.424);
    backdrop-filter: blur(10px);
    transform: rotateX(-10deg);
    max-height: 100vh;
    border: 1.5px solid rgba(104, 104, 104, 0.436);
    max-width: 1400px;
}
.preview-carousel{
    padding-top: 40px;
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    
    box-sizing: border-box;
}
.preview-carousel-content{
    width:100%;
    height:100%;
    display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  
  
  
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
    
}
.preview-carousel-content::-webkit-scrollbar{
    display: none;
}
.preview-carousel-item-container{
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    scroll-snap-align: start;
    flex-shrink: 0;
}

.preview-carousel-item{
    width:100%;
    height:100%;
    background-color:rgba(62, 255, 223, 0.562);
    border-radius: 15px;
    scale: 0.95;
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preview-carousel-item img{
    width:300px;
    height:auto;
    opacity: 0.2;
    border-radius: 15px;
}
.preview-carousel-item h2{
    position: absolute;
    bottom: 15px;
    left: 30px;

    color:white;
}
.preview-carousel-item.inView{
    scale: 1;
    opacity: 1;
}

.preview-carousel-control{
    height:50px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.preview-carousel-control-button{
    display: block;
    width:10px;
    height:10px;
    border-radius: 5px;
    background-color:rgba(135, 135, 135, 0.436);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}
.preview-carousel-control-button:hover{
    transform: scale(1.1);
    background-color:rgba(135, 135, 135, 0.736);
}
.preview-carousel-control-button.selected{
    width:20px;
}